version: 1
record_prefix: "xyzrins:"
identity:
  title: "[[ project_name ]]"
  description: "[[ site_description ]]"
  base_url: "[[ site_base_url ]]"
navigation:
  main:
    - name: Projects
      page_ref: /projects/
      weight: 10
    - name: People
      page_ref: /persons/
      weight: 20
    - name: Publications
      page_ref: /publications/
      weight: 30
  footer: []
  sections: {}
theme:
  color_scheme: fire
  default_appearance: light
  header:
    layout: hybrid
