languageCode = "en"
languageName = "English"
languageDirection = "ltr"
weight = 1
title = {{ site.identity.title | json_string }}

[params]
  description = {{ site.identity.description | json_string }}
