attributes:
  - predicate: skos:prefLabel
    schema_type: dlthings:AttributeSpecification
    value: "[[ project_name ]]"
description: "[[ site_description ]]"
display_label: "[[ project_name ]]"
pid: xyzrins:.
schema_type: xyzri:XYZProject
title: "[[ project_name ]]"
