lock_version: 1

package:
  distribution: orinoco-lite
  version: "[[ package_version ]]"
  url: "[[ package_url ]]"
  sha256: "[[ package_sha256 ]]"

template:
  source: "[[ template_source ]]"
  version: "[[ template_version ]]"

workflow:
  repository: "[[ workflow_repository ]]"
  sha: "[[ workflow_sha ]]"
  ref: "[[ workflow_ref ]]"
