colorScheme = {{ site.appearance.color_scheme | default('fire') | json_string }}
defaultAppearance = {{ site.appearance.default_appearance | default('light') | json_string }}

[header]
  layout = {{ site.appearance.header_layout | default('hybrid') | json_string }}
  logo = ""
  logoDark = ""

[footer]
  showCopyright = false

[homepage]
  layout = "page"
